export VAGRANT_BOX="debian/bookworm64"
export VAGRANT_BOX_VERSION="12.20240905.1"
export VAGRANT_CPUS=2
export VAGRANT_RAM=2048
export VAGRANT_SERVER_NAME="debian-bookworm"

export SSH_PORT=2202

source_env_if_exists .envrc.gitignored
dotenv_if_exists .env
