export VAGRANT_BOX="freebsd/FreeBSD-13.3-RELEASE"
export VAGRANT_BOX_VERSION="2024.03.02"
export VAGRANT_CPUS=2
export VAGRANT_RAM=2048
export VAGRANT_SERVER_NAME="freebsd-13"

export SSH_PORT=2203

source_env_if_exists .envrc.gitignored
dotenv_if_exists .env
